<div
  style="
    background-image: url('../../../assets/images/bg-section.jpg');
    min-height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  "
  class="row h-auto"
>
  <div class="col-12 d-flex align-items-center">
    <div
      class="d-flex flex-column p-5 gap-3 ms-4 shadow"
      style="
        background-color: rgba(255, 255, 255, 0.8);
        width: 35%;
        height: fit-content;
      "
    >
      <p class="mb-0 fw-semibold fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie
        fermentum faucibus. Cras iaculis dictum risus, id efficitur urna
        fermentum id.
      </p>
      <app-btn-principal text="Buy Now!"></app-btn-principal>
    </div>
  </div>
</div>
